.about-message {
  position: relative;
  display: block;
  width: 57rem;
  align-self: center;

  .about-message-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58rem;
    padding: 3.5rem;
    background: rgba(15, 15, 15, 0.78);
    border-radius: 12px;
    position: relative;
    z-index: 2;
    font-size: 1.8rem;

    .about-message-text {
      margin-bottom: 3rem;
      text-align: center;
    }

    .atom-img {
      width: 4rem;
    }
  }

  .white-box {
    position: absolute;
    top: -7%;
    right: 3rem;
    width: 50rem;
    height: 114%;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
  }
}

/* 970px */
@media only screen and (max-width: 970px /*xyrem*/) {
  .about-message {
    width: 50rem;

    .about-message-text-container {
      width: 50rem;
      padding: 3rem;
      font-size: 1.7rem;
    }

    .white-box {
      width: 43rem;
    }
  }
}

/* 650px */
@media only screen and (max-width: 650px /*xyrem*/) {
  .about-message {
    width: 46rem;

    .about-message-text-container {
      width: 46rem;
      padding: 2.5rem;
      font-size: 1.5rem;
    }

    .white-box {
      width: 39rem;
    }
  }
}

/* 540px */
@media only screen and (max-width: 540px /*xyrem*/) {
  .about-message {
    width: 100%;

    .about-message-text-container {
      width: 100%;
    }

    .white-box {
      width: 100%;
      height: 87%;
      right: 0;
      top: 19%;
    }
  }
}
