.section.about-header {
  background-image: url("../images/earthAtmosphere.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: unset;

  .section-shader {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 10rem;
    padding-top: 3rem;
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    nav {
      margin-bottom: 28vh;
    }

    .about-message.one {
      margin-bottom: 40rem;
    }
  }
}

/* 1050px */
@media only screen and (max-width: 1050px /*xyrem*/) {
  .section.about-header {
    .section-shader {
      .about-message.one {
        margin-bottom: 35rem;
      }
    }
  }
}

/* 1000px */
@media only screen and (max-width: 1000px /*xyrem*/) {
  .section.about-header {
    .section-shader {
      padding: 5rem;
      padding-top: 3rem;
      padding-bottom: 7rem;
    }
  }
}

/* 650px */
@media only screen and (max-width: 650px /*xyrem*/) {
  .section.about-header {
    .section-shader {
      padding-left: 2rem;
      padding-right: 2rem;

      .about-message.one {
        margin-bottom: 30rem;
      }
    }
  }
}

/* 540px */
@media only screen and (max-width: 540px /*xyrem*/) {
  .section.about-header {
    .section-shader {
      .about-message.one {
        margin-bottom: 25rem;
      }
    }
  }
}

/* 480px */
@media only screen and (max-width: 480px /*xyrem*/) {
  .section.about-header {
    .section-shader {
      .about-message.one {
        margin-bottom: 20rem;
      }
    }
  }
}

/* 450px */
@media only screen and (max-width: 450px /*xyrem*/) {
  .section.about-header {
    .section-shader {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
