.section.company-info {
  background-image: url("../images/companyInfoImg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: unset;

  .section-shader {
    background: rgba(0, 0, 0, 0.6);
    padding-top: 20rem;
  }
}

/* 1000px */
@media only screen and (max-width: 1000px /*xyrem*/) {
  .section.company-info {
    .section-shader {
      padding: 5rem;
      padding-top: 3rem;
      padding-bottom: 7rem;
    }
  }
}
