.section.company-info {
  .section-shader {
    padding-bottom: 0;

    .company-stats-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 10rem;
      padding-bottom: 5rem;

      .company-stats-title {
        display: flex;
        justify-content: center;

        .logo-container {
          width: 300px;

          a {
            cursor: default;
            pointer-events: none;
          }

          a {
            width: 100%;
          }
        }
      }

      .company-stats {
        font-size: 3rem;
        display: flex;

        .stats-label {
          flex-basis: 25%;
        }
      }

      .social-icons-container {
        display: flex;
        font-size: 3rem;

        .social-icon {
          margin-right: 7rem;
        }
      }
    }
  }
}
