.section.menu {
  height: 100vh;
  background-image: url("../images/earthAndSun.png");
  background-position: 0 30%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;

  &.active {
    display: block;
  }

  .section-shader {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.96);
    padding: 10rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    nav {
      padding-bottom: 2rem;
      border-bottom: 1px solid white;
    }
  }
}
