.section.dragon {
  background-image: url("../images/dragon.jpg");
  background-size: cover;

  .section-shader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
