.section {
  height: 100vh;

  /* The image used */
  background-image: url("../images/sectionMissionAstronaut.jpg");

  /* Full height */
  // height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-size: 112%;

  .section-shader {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 10rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// .section.mission {
//   background-image: url("../images/sectionMissionAstronaut.jpg");
//   background-size: 112%;
//   background-position: 0 30%;
// }
