.section-info-container {
  position: relative;
  display: block;
  width: 57rem;

  .section-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 57rem;
    padding: 3.5rem;
    background: rgba(15, 15, 15, 0.78);
    border-radius: 12px;
    position: relative;
    z-index: 2;

    h2 {
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 2.5rem;
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 2.5rem;
    }

    button {
      border: none;
      outline: none;
      background: white;
      font-family: "Poppins", sans-serif;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 1rem;
      border-radius: 20px;
      color: #de572c;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .white-box {
    position: absolute;
    top: -2rem;
    right: -2rem;
    // width: 45rem;
    width: 50rem;
    height: 113%;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
  }
}

/* 970px */
@media only screen and (max-width: 970px /*xyrem*/) {
  .section-info-container {
    width: 50rem;

    .section-info {
      width: 50rem;
      padding: 3rem;

      h2 {
        font-size: 2.2rem;
      }
    }

    .white-box {
      top: -1.5rem;
      right: -1.9rem;
      width: 43rem;
      height: 111%;
    }
  }
}

/* 820px */
@media only screen and (max-width: 820px /*xyrem*/) {
  .section-info-container {
    .white-box {
      top: 4rem;
      right: -1.5rem;
      width: 53rem;
      height: 91%;
    }
  }
}

/* 650px */
@media only screen and (max-width: 650px /*xyrem*/) {
  .section-info-container {
    width: 46rem;

    .section-info {
      width: 46rem;
      padding: 2.5rem;

      h2 {
        font-size: 1.8rem;
        font-weight: 900;
      }

      p {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
      }

      button {
        font-size: 1.1rem;
        font-weight: 900;
      }
    }

    .white-box {
      width: 49rem;
    }
  }
}

/* 540px */
@media only screen and (max-width: 540px /*xyrem*/) {
  .section-info-container {
    width: 100%;

    .section-info {
      width: 100%;
    }

    .white-box {
      width: 100%;
      height: 87%;
      right: 0;
      top: 19%;
    }
  }
}

/* 410px */
@media only screen and (max-width: 410px /*xyrem*/) {
  .section-info-container {
    .section-info {
      padding: 2.3rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      button {
        width: 100%;
        font-size: 1.2rem;
      }
    }
  }
}
