.section {
  height: 100vh;

  /* The image used */
  background-image: url("../images/sectionMissionAstronaut.jpg");

  /* Full height */
  // height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-size: 112%;

  .section-shader {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 10rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// .section.mission {
//   background-image: url("../images/sectionMissionAstronaut.jpg");
//   background-size: 112%;
//   background-position: 0 30%;
// }

/* 1000px */
@media only screen and (max-width: 1000px /*xyrem*/) {
  .section {
    .section-shader {
      padding: 5rem;
      padding-top: 3rem;
      padding-bottom: 7rem;
    }
  }
}

/* 970px */
@media only screen and (max-width: 970px /*xyrem*/) {
  .section.mission {
    background-size: cover;
  }
}

/* 820px */
@media only screen and (max-width: 820px /*xyrem*/) {
  .section.mission {
    .section-shader {
      align-items: center;
    }
  }
}

/* 650px */
@media only screen and (max-width: 650px /*xyrem*/) {
  .section {
    .section-shader {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
