.cont {
  width: 100%;
  margin-right: 70px;

  .row-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    .molekula {
      margin-right: -70px;
      width: 300px;
      height: 261px;
      background: rgba(255, 255, 255, 0.24);
      clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 2rem;

      &.middle {
        transform: translateY(-135px);
      }

      &.hidden-molecule {
        visibility: hidden;
      }

      .member-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 1rem;
      }

      .member-name {
        font-size: 1.6rem;
      }
    }
  }
}
