.cont {
  width: 100%;
  margin-right: 70px;

  .row-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    .molekula {
      margin-right: -70px;
      width: 300px;
      height: 261px;
      background: rgba(255, 255, 255, 0.24);
      clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 2rem;

      &.middle {
        transform: translateY(-133px);
      }

      &.hidden-molecule {
        visibility: hidden;
      }

      .member-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 1rem;
        background-size: cover;

        &.mi-1 {
          background-image: url("../images/crewImages/robertBehnken.jpg");
        }
        &.mi-2 {
          background-image: url("../images/crewImages/douglasH.jfif");
        }
        &.mi-3 {
          background-image: url("../images/crewImages/shannonWalker.jfif");
        }
        &.mi-4 {
          background-image: url("../images/crewImages/soichiNoguchi.jfif");
        }
        &.mi-5 {
          background-image: url("../images/crewImages/victorGlower.jfif");
        }
        &.mi-6 {
          background-image: url("../images/crewImages/michaelHopkins.jfif");
        }
        &.mi-7 {
          background-image: url("../images/crewImages/shaneKimbrough.jfif");
        }
        &.mi-8 {
          background-image: url("../images/crewImages/kMeghan.jfif");
        }
        &.mi-9 {
          background-image: url("../images/crewImages/thomasPesquet.jfif");
        }
        &.mi-10 {
          background-image: url("../images/crewImages/akihikoH.jfif");
        }
        &.mi-11 {
          background-image: url("../images/crewImages/rajaChari.jfif");
        }
        &.mi-12 {
          background-image: url("../images/crewImages/tMarshburn.jfif");
        }
        &.mi-13 {
          background-image: url("../images/crewImages/matthiasMaurer.jfif");
          background-position-x: -25px;
        }
        &.mi-14 {
          background-image: url("../images/crewImages/jarredI.jfif");
        }
        &.mi-15 {
          background-image: url("../images/crewImages/hayleyA.jfif");
          background-position-x: -50px;
        }
        &.mi-16 {
          background-image: url("../images/crewImages/sianProctor.jfif");
          background-position-x: -11px;
        }
        &.mi-17 {
          background-image: url("../images/crewImages/christoperS.jfif");
        }
        &.mi-18 {
          background-image: url("../images/crewImages/kaylaBarron.jfif");
        }
      }

      .member-name {
        font-size: 1.6rem;
      }
    }
  }
}
