.roadster-info-container {
  position: relative;
  border-radius: 12px;

  &::before {
    background-image: url("../images/roadster1.jpg");
    background-size: cover;
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    border-radius: 12px;
  }

  .roadster-info-container-shader {
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.78);
    padding: 8%;
    border-radius: 12px;
    // ovo je da mi before bude ispod svega ostaloga
    z-index: 10;
    position: relative;

    p {
      font-size: 1.8rem;
      font-weight: 500;
      text-align: justify;
    }
  }
}

/* 1250px */
@media only screen and (max-width: 1250px /*xyrem*/) {
  .roadster-info-container {
    .roadster-info-container-shader {
      padding: 7%;
    }
  }
}

/* 970px */
@media only screen and (max-width: 970px /*xyrem*/) {
  .roadster-info-container {
    .roadster-info-container-shader {
      p {
        font-size: 1.7rem;
      }
    }
  }
}

/* 650px */
@media only screen and (max-width: 650px /*xyrem*/) {
  .roadster-info-container {
    .roadster-info-container-shader {
      p {
        font-size: 1.5rem;
      }
    }
  }
}

/* 580px */
@media only screen and (max-width: 580px /*xyrem*/) {
  .roadster-info-container {
    .roadster-info-container-shader {
      padding: 5%;
    }
  }
}
