.section.roadster {
  height: unset;
  background-attachment: fixed;
  background-image: url("../images/roadsterBackgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .section-shader {
    justify-content: flex-start;
    height: unset;

    h1 {
      font-size: 6.5rem;
      text-align: center;
      margin-top: 10rem;
      margin-bottom: 8rem;
      font-weight: 900;
    }
  }
}

/* 1000px */
@media only screen and (max-width: 1000px /*xyrem*/) {
  .section.roadster {
    .section-shader {
      padding: 5rem;
      padding-top: 3rem;
      padding-bottom: 7rem;
    }
  }
}
