.section.dragon-header {
  background-image: url("https://farm1.staticflickr.com/780/21119686299_c88f63e350_b.jpg");
  background-size: cover;

  .section-shader {
    align-items: center;
    justify-content: flex-end;

    .nav {
      margin-bottom: auto;
    }

    h1 {
      font-size: 6.5rem;
    }

    h2 {
      font-size: 1.75rem;
    }
  }
}

/* 1000px */
@media only screen and (max-width: 1000px /*xyrem*/) {
  .section.dragon-header {
    .section-shader {
      padding: 5rem;
      padding-top: 3rem;
      padding-bottom: 7rem;
    }
  }
}

/* 970px */
@media only screen and (max-width: 970px /*xyrem*/) {
  .section.dragon-header {
    .section-shader {
      h1 {
        font-size: 6.2rem;
      }

      h2 {
        font-size: 1.7rem;
      }
    }
  }
}

/* 650px */
@media only screen and (max-width: 650px /*xyrem*/) {
  .section.dragon-header {
    .section-shader {
      padding-left: 2rem;
      padding-right: 2rem;
      h1 {
        font-size: 5.5rem;
      }

      h2 {
        font-size: 1.55rem;
      }
    }
  }
}

/* 480px */
@media only screen and (max-width: 480px /*xyrem*/) {
  .section.dragon-header {
    .section-shader {
      h1 {
        font-size: 5rem;
      }

      h2 {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}

/* 450px */
@media only screen and (max-width: 450px /*xyrem*/) {
  .section.dragon-header {
    .section-shader {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
