.form-container {
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr max-content;
  grid-row-gap: 2rem;
  width: 70%;
  justify-self: center;

  .form-group {
    display: flex;
    align-items: center;

    label {
      position: absolute;
      font-size: 1.8rem;
      transform: translateX(-115%);
      opacity: 1;
      transition: all 0.3s;
    }

    input:placeholder-shown + label {
      font-size: 1.8rem;
      opacity: 0;
    }

    input {
      outline: none;
      border: none;
      display: block;
      width: 100%;
      padding: 1.5rem;
      background: rgba(255, 255, 255, 0.24);
      font-size: 1.8rem;
      font-family: "Poppins", sans-serif;
      color: white;
      font-weight: 500;
      border-radius: 12px;
    }

    &.textarea {
      align-items: flex-start;

      label {
        margin-top: 1.5rem;
      }

      textarea {
        height: 100%;
        resize: none;
        outline: none;
        border: none;
        background: rgba(255, 255, 255, 0.24);
        display: block;
        width: 100%;
        padding: 1.5rem;
        font-size: 1.8rem;
        font-family: "Poppins", sans-serif;
        color: white;
        font-weight: 500;
        border-radius: 12px;

        &:placeholder-shown + label {
          font-size: 1.8rem;
          opacity: 0;
        }
      }
    }
  }

  .submit-btn {
    padding: 1.5rem;
    background: black;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    color: white;
    border-radius: 12px;
    border: 1px solid white;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }
}
