.about-message {
  position: relative;
  display: block;
  width: 57rem;
  align-self: center;

  .about-message-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58rem;
    padding: 3.5rem;
    background: rgba(15, 15, 15, 0.78);
    border-radius: 12px;
    position: relative;
    z-index: 2;
    font-size: 1.8rem;

    .about-message-text {
      margin-bottom: 3rem;
      text-align: center;
    }

    .atom-img {
      width: 4rem;
    }
  }

  .white-box {
    position: absolute;
    top: -2rem;
    right: 3rem;
    width: 50rem;
    height: 113%;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
  }
}
