@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
.section {
  height: 100vh;
  /* The image used */
  background-image: url("../images/sectionMissionAstronaut.jpg");
  /* Full height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 0 30%;
  background-repeat: no-repeat;
  background-size: 112%;
}

.section .section-shader {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding: 10rem;
  padding-top: 3rem;
  padding-bottom: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav .logo-container {
  width: 240px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  cursor: pointer;
}

.nav .logo-container a {
  width: 100%;
}

.nav .nav-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-links-container .nav-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.nav .nav-links-container .nav-links-list li {
  margin-right: 2.7rem;
}

.nav .nav-links-container .nav-links-list li a {
  text-decoration: none;
  color: white;
}

.nav .nav-links-container .hambi-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.6rem;
}

.nav .nav-links-container .hambi-links .hambi-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav-links-container .hambi-links .hambi-cont .hambi-long {
  width: 3.3rem;
  height: 3px;
  border-radius: 3px;
  background: white;
  margin-right: 0.3rem;
}

.nav .nav-links-container .hambi-links .hambi-cont .hambi-circle {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background: white;
}

.nav.sticky-nav {
  display: none;
  position: fixed;
  background: black;
  z-index: 100;
  padding: 10rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.nav.sticky-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-container svg {
  fill: white;
}

.section-info-container {
  position: relative;
  display: block;
  width: 57rem;
}

.section-info-container .section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 57rem;
  padding: 3.5rem;
  background: rgba(15, 15, 15, 0.78);
  border-radius: 12px;
  position: relative;
  z-index: 2;
}

.section-info-container .section-info h2 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2.5rem;
}

.section-info-container .section-info p {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.section-info-container .section-info button {
  border: none;
  outline: none;
  background: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 20px;
  color: #de572c;
}

.section-info-container .white-box {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 50rem;
  height: 113%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
}

.section.falcon-9 {
  background-image: url("../images/falcon9dark.jpg");
  background-size: cover;
}

.section.falcon-9 .section-shader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.falcon-9 .section-shader button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section.falcon-9 .section-shader .white-box.falcon-9 {
  right: 9rem;
}

.section.falcon-heavy {
  background-image: url("../images/falconHeavyLaunching.jpg");
  background-size: cover;
}

.section.falcon-heavy .section-shader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.starship {
  background-image: url("../images/starshipBlue.jpg");
  background-size: cover;
}

.section.starship .section-shader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.starship .section-shader button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section.starship .section-shader .white-box.starship {
  right: 9rem;
}

.section.dragon {
  background-image: url("../images/dragon.jpg");
  background-size: cover;
}

.section.dragon .section-shader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.recent-launch {
  background-image: url("../images/rocketLaunching.jpg");
  background-size: cover;
}

.section.recent-launch .section-shader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.recent-launch .section-shader button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section.recent-launch .section-shader .white-box.recent-launch {
  right: 9rem;
}

.section.crew {
  height: unset;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.91)), to(rgba(0, 0, 0, 0.91))), url("../images/moon2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91)), url("../images/moon2.jpg");
  background-attachment: unset;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15rem;
}

.section.crew h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 10rem;
}

/* ----------------------------------------- */
.container {
  width: 1000px;
  line-height: 1.3;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

ol.even {
  position: relative;
  left: 13.63636rem;
}

ol.odd {
  position: relative;
  margin-top: -6%;
  margin-bottom: -6%;
}

.hex {
  position: relative;
  margin: 2rem auto;
  width: 15rem;
  height: 25.5rem;
  border-radius: 1rem/0.5rem;
  background: rgba(255, 255, 255, 0.14);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
  margin-right: 11.53846rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.hex:before,
.hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
}

.hex:before {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.hex:after {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.hex:hover {
  background: #f58787;
  cursor: pointer;
}

.section.subscription {
  height: unset;
  background: black;
  margin-top: 15rem;
  margin-bottom: 15rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.section.subscription form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.subscription form label {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 8rem;
}

.section.subscription form .input-btn-container {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.subscription form .input-btn-container input {
  background: rgba(255, 255, 255, 0.24);
  border: none;
  outline: none;
  font-size: 1.7rem;
  padding: 1rem;
  width: 50%;
  height: 5.5rem;
  border-radius: 12px;
  margin-right: 1.5rem;
  font-family: "Poppins", sans-serif;
  color: white;
}

.section.subscription form .input-btn-container .submit-subscription-btn {
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: transparent;
  border: 1px solid white;
  outline: none;
  padding: 1rem;
  width: 10%;
  height: 5.5rem;
  border-radius: 12px;
}

footer {
  height: unset;
  background: black;
  margin-top: 20rem;
  margin-bottom: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.section.about-header {
  background-image: url("../images/earthAtmosphere.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: unset;
}

.section.about-header .section-shader {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding: 10rem;
  padding-top: 3rem;
  padding-bottom: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section.about-header .section-shader nav {
  margin-bottom: 15vw;
}

.section.about-header .section-shader .about-message.one {
  margin-bottom: 40rem;
}

.about-message {
  position: relative;
  display: block;
  width: 57rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-message .about-message-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 58rem;
  padding: 3.5rem;
  background: rgba(15, 15, 15, 0.78);
  border-radius: 12px;
  position: relative;
  z-index: 2;
  font-size: 1.8rem;
}

.about-message .about-message-text-container .about-message-text {
  margin-bottom: 3rem;
  text-align: center;
}

.about-message .about-message-text-container .atom-img {
  width: 4rem;
}

.about-message .white-box {
  position: absolute;
  top: -2rem;
  right: 3rem;
  width: 50rem;
  height: 113%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
}

.section.company-info {
  background-image: url("../images/companyInfoImg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: unset;
}

.section.company-info .section-shader {
  background: rgba(0, 0, 0, 0.6);
}

.leaders-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10rem;
}

.leaders-container .leader {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  height: 33vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
  overflow: hidden;
}

.leaders-container .leader figure {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  overflow: hidden;
}

.leaders-container .leader figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.leaders-container .leader .leader-info-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding: 1.5rem;
  font-size: 1.7rem;
}

.leaders-container .leader.middle {
  -webkit-transform: scale(1.05) translateY(-15px);
          transform: scale(1.05) translateY(-15px);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=style.css.map */