@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@import "variables";
@import "./home/missionSection";
@import "./nav/nav";
@import "./nav/logo";
@import "./home/mission";
@import "./home/falconNineSection";
@import "./home/falconHeavy";
@import "./home/starship";
@import "./home/dragon";
@import "./home/recentLaunch";
@import "./home/crewMembers";
@import "./home/moleculesGrid";
@import "./home/subscription";
@import "./home/footer";
@import "./about/about";
@import "./about/aboutHeader";
@import "./about/aboutMessageOne";
@import "./about/aboutMessageTwo";
@import "./about/companyInfo";
@import "./about/leaders";
@import "./about/companyStats";
@import "./rockets/falconNineHeader";
@import "./rockets/falconNineStats";
@import "./rockets/falconNineDescription";
@import "./rockets/falconHeavyHeader";
@import "./rockets/falconHeavyStats";
@import "./rockets/starshipHeader";
@import "./rockets/starshipStats";
@import "./dragons/dragonHeader";
@import "./dragons/dragonDescriptionCard";
@import "./dragons/dragonStats";
@import "./launches/nextLaunch";
@import "./launches/nextLaunchStats";
@import "./launches/latestLaunch";
@import "./crew/crew";
@import "./menu/menu";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: $primaryTextColor;
  background: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
/*
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
*/
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  font-family: "Poppins", sans-serif;
}
