@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "./variables";
@import "./missionSection";
@import "./nav";
@import "./logo";
@import "./mission";
@import "./falconNineSection";
@import "./falconHeavy";
@import "./starship";
@import "./dragon";
@import "recentLaunch";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: $primaryTextColor;
}
