.section.next-launch {
  background-image: url("../images/ofCourseIStillLoveYou.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  .section-shader {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 10rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .launches-title-container {
      position: relative;
      display: block;
      width: 36rem;

      h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;
        width: 36rem;
        padding: 1rem;
        background: rgba(15, 15, 15, 0.78);
        border-radius: 12px;
        position: relative;
        z-index: 2;
      }

      .launches-title-white-box {
        position: absolute;
        top: -1rem;
        right: 50%;
        transform: translateX(50%);
        width: 30rem;
        height: 134%;
        background: rgba(255, 255, 255, 0.24);
        border-radius: 12px;
      }
    }
  }
}

/* 1030px */
@media only screen and (max-width: 1030px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      .next-launch-stats {
        width: 75%;
      }
    }
  }
}

/* 1000px */
@media only screen and (max-width: 1000px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      .launches-title-container {
        width: 30rem;
        h1 {
          font-size: 2.2rem;
          width: 30rem;
        }
        .launches-title-white-box {
          width: 24rem;
        }
      }

      padding: 5rem;
      padding-top: 3rem;
      padding-bottom: 7rem;
    }
  }
}

/* 880px */
@media only screen and (max-width: 880px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      .next-launch-stats {
        width: 80%;
      }
    }
  }
}

/* 820px */
@media only screen and (max-width: 820px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      .next-launch-stats {
        width: 100%;
      }
    }
  }
}

/* 735px */
@media only screen and (max-width: 735px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      .launches-title-container {
        width: 25rem;
        h1 {
          font-size: 2rem;
          width: 25rem;
        }
        .launches-title-white-box {
          width: 25rem;
          top: 0;
          height: 110%;
        }
      }

      .next-launch-stats {
        padding: 2.5rem;
        min-height: 56%;

        .nl-single-stat-cont {
          font-size: 1.6rem;
          color: rgba(15, 15, 15, 0.9);
        }
      }
    }
  }
}

/* 650px */
@media only screen and (max-width: 650px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

/* 630px */
@media only screen and (max-width: 630px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      .slides-wrapper {
        .slide-btn {
          &--left {
            left: 42%;
          }

          &--right {
            right: 42%;
          }
        }
      }
    }
  }
}

/* 520px */
@media only screen and (max-width: 520px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      .launches-title-container {
        width: 20rem;
        h1 {
          font-size: 1.8rem;
          width: 20rem;
        }
        .launches-title-white-box {
          width: 20rem;
          top: 0;
          height: 110%;
        }
      }
      .next-launch-stats {
        padding: 2rem;
        min-height: 50%;

        .nl-single-stat-cont {
          font-size: 1.5rem;
          color: rgba(15, 15, 15, 0.9);
        }
      }
    }
  }
}

/* 450px */
@media only screen and (max-width: 450px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

/* 440px */
@media only screen and (max-width: 440px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      .slides-wrapper {
        .slider {
          .slider-stats-container {
            width: 99%;

            .stat-cont,
            p {
              margin-bottom: 0.4rem;
            }
          }
        }
        .slide-btn {
          &--left {
            left: 40%;
          }

          &--right {
            right: 40%;
          }
        }
      }
    }
  }
}

/* 390px */
@media only screen and (max-width: 390px /*xyrem*/) {
  .section.next-launch {
    .section-shader {
      .next-launch-stats {
        .nl-single-stat-cont {
          font-size: 1.4rem;
        }
      }
    }
  }
}
