.rocket-description-container {
  position: relative;
  display: block;
  width: 57rem;
  align-self: center;
  margin-top: 5rem;
  margin-bottom: 2.5vw;

  .rocket-description-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 58rem;
    height: 27rem;
    padding: 3.5rem;
    background: rgba(15, 15, 15, 0.78);
    border-radius: 12px;
    position: relative;
    z-index: 2;
    font-size: 1.8rem;

    .rocket-description-text {
      text-align: center;
    }
  }

  .white-box {
    position: absolute;
    top: -2rem;
    right: 3rem;
    width: 50rem;
    height: 115%;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
  }
}
